{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Login</h2>
    <form method="POST" class="login-form">
        <div class="form-group">
            <input type="text" id="login" name="login" required>
            <label for="login">Username or Email</label>
        </div>
        <div class="form-group">
            <input type="password" id="password" name="password" required>
            <label for="password">Password</label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn-primary">Login</button>
        </div>
        <footer class="footer">
            <p>&copy; 2024 Copying prohibited. All rights reserved.</p>
            <p><a href="https://t.me/backend_creator" target="_blank">Telegram: @backend_creator</a></p>
        </footer>
    </form>
</div>
{% endblock %}